{% extends 'base.html.twig' %}

{% block title %}Consulta index{% endblock %}


{% block body %}
    <div class="container">
    <h2 class="my-5">Consulta PCCM</h2>
    <h3 class="my-4">Resultados</h3>

    <div class="row">
        <div class="col-12 col-md-6">
            <div id="contenido_div" style="border: 1px solid #ccc"></div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <div id="habilidades_div" style="border: 1px solid #ccc"></div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <div id="preguntas_div" style="border: 1px solid #ccc"></div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <div id="temas_div" style="border: 1px solid #ccc"></div>
        </div>
    </div>

    <h2 class="my-4">Comentarios</h2>
    {% for consulta in consultas %}
        <div class="row my-4">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-body">
                        {{ consulta.opinion }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" id="google-charts" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        // Load Charts and the corechart and barchart packages.
        google.charts.load('current', {'packages':['corechart']});

        // Draw the pie chart and bar chart when Charts is loaded.
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var contenido = new google.visualization.DataTable();
            contenido.addColumn('string', 'Contenido');
            contenido.addColumn('number', 'Conteo');
            contenido.addRows([
                ['Si', {{ contenido.yes }}],
                ['No', {{ contenido.no }}]
            ]);

            var contenido_options = {title:'Reglamentación de Contenido',
                width:300,
                height:200};
            var contenido_barchart = new google.visualization.BarChart(document.getElementById('contenido_div'));
            contenido_barchart.draw(contenido, contenido_options);

            // Habilidades
            var habilidades = new google.visualization.DataTable();
            habilidades.addColumn('string', 'Habilidades');
            habilidades.addColumn('number', 'Conteo');
            habilidades.addRows([
                ['Ingenio e inventiva', {{ habilidades.ingenio }}],
                ['Conocimientos generales', {{ habilidades.conocimientos_generales }}],
                ['Conocimientos generales', {{ habilidades.conocimientos_especificos }}],
                ['Claridad en redacción', {{ habilidades.redaccion }}],
                ['Compresion  de la teoría', {{ habilidades.comprension }}]
            ]);

            var habilidades_options = {title:'Habilidades a Detectar',
                width:500,
                height:500};
            var habilidades_barchart = new google.visualization.BarChart(document.getElementById('habilidades_div'));
            habilidades_barchart.draw(habilidades, habilidades_options);

            // Preguntas
            var preguntas = new google.visualization.DataTable();
            preguntas.addColumn('string', 'Preguntas');
            preguntas.addColumn('number', 'Conteo');
            preguntas.addRows([
                ['Calculos rutinarios', {{ preguntas.calculos }}],
                ['Demostraciones sencillas', {{ preguntas.demostraciones }}],
                ['Opción múltiple', {{ preguntas.opcion_multiple }}],
                ['Trucos ingeniosos', {{ preguntas.trucos }}],
                ['Preguntas tipo olimpiada', {{ preguntas.olimpiada }}]
            ]);

            var preguntas_options = {title:'Tipo de Preguntas',
                width:500,
                height:500};
            var preguntas_barchart = new google.visualization.BarChart(document.getElementById('preguntas_div'));
            preguntas_barchart.draw(preguntas, preguntas_options);

            // Temas
            var temas = new google.visualization.DataTable();
            temas.addColumn('string', 'Temas');
            temas.addColumn('number', 'Conteo');
            temas.addRows([
                ['Calculo', {{ temas.calculo }}],
                ['Algebra Lineal', {{ temas.algebra_lineal }}],
                ['Algebra Abstracta', {{ temas.algebra_abstracta }}],
                ['Combinatoria', {{ temas.combinatoria }}],
                ['Probabilidad', {{ temas.probabilidad }}],
                ['Teoría de números', {{ temas.teoria_numeros }}],
                ['Ecuaciones diferenciales', {{ temas.ecuaciones }}],
                ['Geometría diferencial', {{ temas.geometria_diferencial }}],
                ['Topología', {{ temas.topologia }}],
                ['Física', {{ temas.fisica }}],
            ]);

            var temas_options = {title:'Temas para el examen de admisión',
                width:500,
                height:700};
            var temas_barchart = new google.visualization.BarChart(document.getElementById('temas_div'));
            temas_barchart.draw(temas, temas_options);

        }
    </script>

{% endblock %}
